{% extends 'hotel/base.html' %}
{% block content %}
  <h1>Available rooms</h1>
  <form method="get">
    Check in <input type="date" name="check_in" value="{{ request.GET.check_in }}">
    Check Out <input type="date" name="check_out" value="{{ request.GET.check_out }}">
    <button type="submit">Filrer</button>
  </form>
  <ul>
    {% for h in rooms %}
      <li>Room {{ h.numero }} - {{ h.tipo }} - {{ h.precio_noche }}</li>
    {% empty %}
      <li>No rooms available.</li>
    {% endfor %}
  </ul>
{% endblock %}
